body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #fa5300;
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
    
}

#logoMais {
    height: 100px;
    width: 100px;
}

#text-logo {
    font-family: Verdana, sans serif;
    color: white;
}

.conteudo {
    display: flex;
    justify-content:baseline;
    flex-direction: row;
}

.cadastro-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #fa5300;
    border-radius: 5%;
    height: 500px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.h1-container {
    margin-top: 50px;
    align-items: start;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: white;
}

#email-cadastro {
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style: none;
    padding: 2px;
}


#senha-cadastro {
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style: none;
    padding: 2px;
}

#nome-cadastro {
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style: none;
    padding: 2px;
}

#cpf-cadastro {
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style: none;
    padding: 2px;
}

#name-input-email {
    outline: none;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: white;
}

#name-input-senha {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: white;

}

#name-input-nome {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: white;

}

#name-input-cpf {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: white;

}


#button-cadastro {
    margin-top: 10px;
    border: none;
    background-color: #fa5300;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.imageLogoMoney {
    margin-top: 50px;
    margin-left: 100px;
    align-items: center;
    margin-left: 300px;
    
}